@model CRMPortal.SharedServices.ViewModels.HelpDeskFormViewModel
<script type="text/javascript" src="/scripts/jquery-3.1.1.js"></script>

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("Save", "HelpDesk", FormMethod.Post, new { id = "request-form" }))
{
    <div class="form-group">
        @Html.LabelFor(r => r.HelpDeskRequest.RequestTitle)
        @Html.TextBoxFor(r => r.HelpDeskRequest.RequestTitle, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(r => r.HelpDeskRequest.RequestDetails)
        @Html.TextAreaFor(r => r.HelpDeskRequest.RequestDetails, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.LabelFor(r => r.HelpDeskRequest.Category)
        @Html.DropDownListFor(r => r.HelpDeskRequest.Category, new SelectList(Model.Categories, "Id", "new_name"), "Select Category ", new { @class = "form-control", id = "selected-room" })
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.HelpDeskRequest.SubCategory)
        @Html.DropDownListFor(r => r.HelpDeskRequest.SubCategory, new SelectList(Model.SubCategories, "Id", "new_name"), "Select Subcategory  ", new { @class = "form-control", id = "selected-room" })
    </div>
    
    <div class="form-group">
        <input type="submit" name="name" value="Submit Request" class="btn btn-primary" />
    </div>

}

<script type="text/javascript">

    var k = @Html.Raw(Model.isReadOnly.ToString().ToLower());
    var k = true;
    if (k) {
        console.log($('#request-form :input'));
        $("#request-form :input ").prop("readonly", true);
        $("#request-form :select").prop("readonly", true);
        $("#request-form   [type=submit]").prop("disabled", true);

        //$('#request-form').find("input").addClass("disabled");

    }

</script>