@model CRMPortal.SharedServices.ViewModels.HelpDeskFormViewModel

@{
    ViewBag.Title = "Edit";
}

@using (@Html.BeginForm("Save", "HelpDesk"))
{
    <div class="form-group">
        @Html.LabelFor(r => r.RequestTitle)
        @Html.TextBoxFor(r => r.RequestTitle, new { @class = "form-control" })

        @Html.LabelFor(r => r.RequestDetails)
        @Html.TextAreaFor(r => r.RequestDetails, new { @class = "form-control" })
        <input type="submit" name="name" value="Submit Request" class="btn btn-primary" />
    </div>

}
