@model CRMPortal.SharedServices.ViewModels.HelpDeskIndexViewModel
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("New Reqest", "Edit", "HelpDesk", null, new { @class = "label label-success" }) 
<br />
<table class="table table-hover table-striped">
    <tr>
        <th>Title</th>
        <th>Request Number </th>
        <th>Details</th>
        <th>Status</th>
    </tr>
    @{
        foreach (var r in Model.Requests)
        {
           <tr>
               <td><a href="/HelpDesk/Edit/@r.Id">@r.RequestTitle</a></td>
               <td>@r.RequestNumber</td>
               <td>@r.RequestDetails</td>
               <td>@r.StatusReason</td>
           </tr>
        }
    }
</table>




