@model CRMPortal.SharedServices.ViewModels.RoomReservationFormViewModel
@{
    ViewBag.Title = "Edit";
}
@section MyHead{
    <script type="text/javascript" src="/scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />

}

<h2>Edit</h2>

@using (@Html.BeginForm("Save", "RoomReservation"))
{

    <div class="form-group">
        @Html.LabelFor(e => e.RoomToReserve)
        @Html.DropDownListFor(e => e.RoomToReserve, new SelectList(Model.AvailableRooms, "Id", "Name"), "Select Room", new { @class = "form-control", id = "selected-room" })
        <label id="check-button" class="btn btn-primary">Check Room reservations</label>
    </div>

    <div class="form-group ">
        @Html.LabelFor(r => r.Day)
        <div class="input-group date" id="dayPicker">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            @Html.TextBoxFor(model => model.Day, new { @class = "form-control datepicker ", placeholder = "Select Day ", id = "reservation-day" })
        </div>
    </div>


    <div class="form-group ">
        @Html.LabelFor(r => r.DateFrom)
        <div class="input-group date" id="timeFrom">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control datepicker ",id = "date-from" })
        </div>
    </div>

    <div class="form-group ">
        @Html.LabelFor(r => r.DateTo)
        <div class="input-group date" id="timeTo">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control datepicker ", id = "date-to" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.RequestTitle)
        @Html.TextBoxFor(r => r.RequestTitle, new { @class = "form-control " })
    </div>

    <input type="submit" name="name" value="Submit Request" class="btn btn-primary" />

}

@section MyJs{

    $("#check-button").on("click",CheckAvailability);

    $('#dayPicker').datetimepicker({
    format:'YYYY/MM/DD'
    });

    $('#timeFrom').datetimepicker({
    format:'LT',

    });

    $('#timeTo').datetimepicker({
    format:'LT',
    });

    @*function CheckAvailability() {
    var roomId = $("#selected-room").val();
    var reservationDay = $("#reservation-day").val()+" "+$("#date-to").val();
    if (roomId != "" && reservationDay != "") {

    $.ajax({
    type: "POST",
    url: "/api/roomreservations/CheckRoomAvailability/?_reservationDay="+reservationDay+"&_roomId="+roomId,
    contentType: "application/json; charset=utf-8",
    success: function (result) {
    //do something
    console.log(result);
    },
    error: function (req, status, error) {
    //error
    console.log(result);
    console.log(status);
    console.log(error);
    }
    });
    }
    console.log(roomId);
    console.log(reservationDay);
    }*@

  function CheckAvailability() {
    var roomId = $("#selected-room").val();
    var reservationDay = $("#reservation-day").val();
    var dateFrom = $("#date-from").val();
    var dateTo = $("#date-to").val();

    var reservationModel= {
        "Day":reservationDay,
        "DateFrom":dateFrom,
        "DateTo":dateTo,
        "RoomToReserve":roomId
    }

    if (roomId != "" && reservationDay != "") {
        console.log(reservationModel);
        $.ajax({
            type: "POST",
            url: "/api/rpc/roomreservations/CheckRoomAvailability/",
            contentType: "application/json; charset=utf-8",
            data:reservationModel,
               dataType:"json",
            success: function (result) {
                //do something
                console.log(result);
            },
            error: function (req, status, error) {
                //error
                console.log(result);
                console.log(status);
                console.log(error);

            }
        });
    }
    console.log(roomId);
    console.log(reservationDay);

}

}
