@model CRMPortal.SharedServices.ViewModels.RoomReservationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>RoomReservation</h2>

@Html.ActionLink("New Reqest", "Edit", "RoomReservation", null, new { @class = "label label-success" })
<br />
<table class="table table-hover table-striped">
    <tr>
        <th>Title</th>
        <th>Day </th>
        <th>From </th>
        <th>To </th>
        <th>Status</th>
    </tr>
    @{
        foreach (var r in Model.requests)
        {
            <tr>
                <td>@r.RequestTitle</td>
                <td>@r.DateFrom.ToShortDateString()</td>
                <td>@r.DateFrom.TimeOfDay</td>
                <td>@r.DateTo.TimeOfDay</td>
                <td>@r.StatusReason</td>
            </tr>
        }
    }
</table>

`