@model CRMPortal.SharedServices.ViewModels.PurchaseOrderViewModel
@{
    ViewBag.Title = "Index";
}


<table class="table table-hover table-striped">
    <tr>
        <th>Title</th>
        <th>Request Number </th>
        <th>#Items</th>
        <th>Status</th>
    </tr>
    @{
        foreach (var r in Model.Requests)
        {
            <tr>
                <td>@r.RequestTitle</td>
                <td>@r.RequestNumber</td>
                <td>@r.NumberOfitems</td>
                <td>@r.StatusReason</td>
            </tr>
        }
    }
</table>


@*@using (@Html.BeginForm("CreateRequest", "HelpDesk"))
    {


    }*@


