
@model CRMPortal.SharedServices.ViewModels.PurchaseOrderViewModel
@{
    ViewBag.Title = "Index";
}
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />*@
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">

<style>
    td {
        border: 1px #DDD solid;
        padding: 5px;
        cursor: pointer;
    }

    .selected {
        background-color: brown;
        color: #FFF;
    }
</style>
@using (Html.BeginForm("Edit", "PurchaseOrder"))
{
    <div class="container">

        <div class="clearfix"></div>

        <fieldset>
            <legend class="legend">Purchase Order</legend>

            <div class="panel">

                <div class="panel-body">

                    <div>
                        @Html.ActionLink("Create Purchase Order", "Edit", "PurchaseOrder", new { @class = "btn btn-info btn-pressure" })
                    </div>
                    <div style="margin-top: 10px"></div>

                    <table id="eventsTable"
                           class="table table-hover"
                           data-toggle="table"
                           @*data-height="800"*@
                           @*data-url="https://api.github.com/users/wenzhixin/repos?type=owner&sort=full_name&direction=asc&per_page=100&page=1"*@
                           data-pagination="true"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-toolbar="#toolbar">
                        <thead>
                            <tr>
                                @*<th data-field="state" data-checkbox="true"></th>*@
                                <th hidden="hidden">PK</th>
                                <th data-field="title">Title</th>
                                <th data-field="request_number">Request Number</th>
                                <th data-field="items">#Items</th>
                                <th data-field="status">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                //for (int i = 0; i < 20; i++)
                                {
                                    foreach (var r in Model.Requests)
                                    {
                                        <tr>
                                            <td class="nr" hidden="hidden">@r.PK</td>
                                            <td>@r.RequestTitle</td>
                                            <td>@r.RequestNumber</td>
                                            <td>@r.NumberOfitems</td>
                                            <td>@r.StatusReason</td>
                                            <td>
                                                @*<input type="button" name="id2" value="@r.GetButtonValue" class="btn btn-@r.GetButtonClass ccc">
                                                <input type="submit" name="id" value="@r.PK" hidden id="btnpk" class="nn">*@
                                                <button style="width:100px" name="id" value="@r.PK" class="btn btn-@r.GetButtonClass">@r.GetButtonValue</button>  
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </fieldset>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script>


        (function () {

            $(".ccc").click(function () {
                var $item = $(this).closest("tr")   // Finds the closest row <tr>
                                   .find(".nn")     // Gets a descendent with class="nr"
                                   .click();         // Retrieves the text within <td>
                //document.getElementById('btnpk').click();
                console.log($item);
                //$("#resultas").append($item);       // Outputs the answer
            });
        })();
    </script>

                                }